@{
    ViewBag.Title = "Index";
}

<h2>Aquí va un slider</h2>

<br/>
<a href="~/Areas/Admin/">

</a>
<div class="col-md-4">
    <div class="panel panel-primary" >
        <div class="panel-heading">
            <h3 class="panel-title">Módulo de mantenimiento</h3>
        </div>
        <div class="panel-body">
                  Aquí podemos manipular, actualizar y visualizar los datos de las tablas más importantes de la aplicación:
            <br />
            <br />  •  Cargo
            <br />  •  Departamento
            <br />  •  Empleado
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

            <input type="button" class="btn btn-primary col-md-12" value="Visitar"/>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Módulo de procesos</h3>
        </div>
        <div class="panel-body">
              Se realiza un conjunto de transacciones u operaciones administrativas tales como el cálculo de nómina o la inactivación de un empleado. Las tablas afectadas son:
            <br />
            <br />  •  Nómina
            <br />  •  SalidaEmpleado
            <br />  •  Vacación
            <br />  •  Permiso
              <br />  •  Licencia
              <br/>
            <input type="button" class="btn btn-primary col-md-12" value="Visitar"/>

        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Módulo de informes</h3>
        </div>
        <div class="panel-body">
                Se visualizan y consultan los datos de Recursos Humanos:
            <br />
            <br />  •  Nómina
            <br />  •  Empleado (activo e inactivo)
            <br />  •  Departamento
            <br />  •  Cargo
            <br />  •  Vacación
            <br />  •  Permiso
            <br/>
            <br/>
            <input type="button" class="btn btn-primary col-md-12" value="Visitar"/>

        </div>
    </div>
</div>