@model IEnumerable<ODN.Cargo>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Cargos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoCargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCargo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoCargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCargo)
        </td>
    </tr>
}

</table>
